---
    layout:      body
    description: Software Developer in Augusta, GA
    categories:    [ HTML5, CSS3, JavaScript, ES5, Linux ]
---
<div class="article clearfix">
<div id="SE-flair">
<img width="208" height="58" alt="profile for kzh on Stack Exchange" usemap="#SE_img_map" 
    src="http://stackexchange.com/users/flair/d67268b6910a49d8810f22b34b1081f9.png">
<map id="SE_img_map" name="SE_img_map">
  <area shape="rect" alt="Stack Overflow" title="Stack Overflow" rel="me"
    href="http://stackoverflow.com/users/143739" coords="58,36,78,56" />
  <area shape="rect" alt="Super User" title="Super User" rel="me"
    href="http://superuser.com/users/3304" coords="78,36,98,56" />
  <area shape="rect" alt="Ask Ubuntu" title="Ask Ubuntu" rel="me"
    href="http://askubuntu.com/users/1879" coords="98,36,118,56" />
  <area shape="rect" alt="Web Applications" title="Web Applications" rel="me"
    href="http://webapps.stackexchange.com/users/4282" coords="118,36,138,56" />
  <area shape="rect" alt="Android Enthusiasts" title="Android Enthusiasts"
    rel="me" href="http://android.stackexchange.com/users/1204"
    coords="138,36,158,56" />
  <area shape="rect" alt="Area 51" title="Area 51" rel="me"
    href="http://area51.stackexchange.com/users/10632" coords="178,36,198,56" />
  <area shape="rect" alt="English Language and Usage"
    title="English Language and Usage" rel="me" 
    href="http://english.stackexchange.com/users/2329" coords="158,36,178,56" />
  <!--area shape="rect" alt="Gardening and Landscaping"
    title="Gardening and Landscaping" rel="me"
    href="http://gardening.stackexchange.com/users/368"
    coords="178,36,198,56" /-->
  <!--area shape="rect" alt="Home Improvement" title="Home Improvement" rel="me"
    coords="158,36,178,56" href="http://diy.stackexchange.com/users/62" /-->
  <area shape="rect" alt="Google Profile" title="Google Profile" rel="me" coords="2,2,56,56"
    href="http://google.com/profiles/thekaleb" />
  <area shape="rect" alt="Stack Exchange" title="Stack Exchange" rel="me" coords="58,2,206,36"
    href="http://stackexchange.com/users/d67268b6910a49d8810f22b34b1081f9" />
</map>
</div>

<p>
  This site is a list of things that interests me.  Enjoy.
</p>

</div>
<section>
<h2 class="visuallyhidden">Web Log</h2>
{% for page in paginator.posts %}
{% include post.html %}
{% endfor %}
</section>
<footer class="pagination">
{% if paginator.previous_page == 1 %}
  <a href="{{ site.url }}" rel="prev start" class="previous">Newer</a>
{% elsif paginator.previous_page %}
  <a href="{{ site.url }}/page{{paginator.previous_page}}" rel="prev" class="previous">Newer</a>
{% else %}
  <span class="previous">Newer</span>
{% endif %}
<span class="page-number">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
{% if paginator.next_page %}
  <a href="{{ site.url }}/page{{paginator.next_page}}" rel="next" class="next">Older</a>
{% else %}
  <span class="next">Older</span>
{% endif %}
</footer>
<!--
<link href="http://google.com/profiles/thekaleb" rel="me" />
<link href="http://twitter.com/thekaleb" rel="me" />
<link href="http://www.linkedin.com/in/khornsby" rel="me" />
<link href="http://en.wikipedia.org/w/index.php?limit=50&amp;tagfilter=&amp;/>
<link href="http://www.geni.com/share?t=5032863223010106316" rel="me" />
<link href="http://youtube.com/user/thekaleb" rel="me" />
<link href="http://delicious.com/thekaleb" rel="me" />
<link href="http://www.last.fm/user/thekaleb/" rel="me" />
<link href="http://facebook.com/thekaleb/" rel="me" />
<link href="http://books.google.com/books?uid=6258285517412659099" rel="me" />
<link href="http://digg.com/users/thekaleb/" rel="me" />
<link href="http://stackoverflow.com/users/143739" rel="me" />
<link href="http://www.flickr.com/photos/thekaleb/" rel="me" />
<link href="http://soup.kaleb.hornsby.ws/" rel="me" />
<link href="http://thekaleb.43people.com/" rel="me" />
<link href="http://www.43things.com/person/thekaleb" rel="me" />
<link href="http://www.commandlinefu.com/commands/by/kzh" rel="me" />
<link href="http://www.google.com/sidewiki/author/thekaleb" rel="me" />
<link href="http://superuser.com/users/3304" rel="me" />
<link href="http://blog.kaleb.hornsby.ws/" rel="me" />
<link href="http://serverfault.com/users/14408" rel="me" />
<link href="http://area51.stackexchange.com/users/10632" rel="me" />
<link href="http://programmers.stackexchange.com/users/8498" rel="me" />
<link href="http://android.stackexchange.com/users/1204" rel="me" />
<link href="http://security.stackexchange.com/users/472" rel="me" />
<link href="http://meta.stackoverflow.com/users/153837" rel="me" />
<link href="http://tex.stackexchange.com/users/2108" rel="me" />
<link href="http://english.stackexchange.com/users/2329" rel="me" />
<link href="http://unix.stackexchange.com/users/1390" rel="me" />
<link href="http://cooking.stackexchange.com/users/3485" rel="me" />
<link href="http://askubuntu.com/users/1879" rel="me" />
<link href="http://stackapps.com/users/3058" rel="me" />
<link href="http://diy.stackexchange.com/users/62" rel="me" />
<link href="http://webapps.stackexchange.com/users/4282" rel="me" />
<link href="http://www.google.com/reader/shared/14987906364018601594" rel="me" />
<link href="http://www.forceclose.com/users/489" rel="me" />
<link href="https://gist.github.com/kaleb" rel="me" />
<link href="https://github.com/kaleb" rel="me" />
<link href="http://gravatar.com/thekaleb" rel="me" />
<link href="http://jsfiddle.net/user/kaleb/" rel="me" />
<link href="http://www.reddit.com/user/thekaleb/liked" rel="me" />
<link href="https://launchpad.net/~kzh" rel="me" />
<link href="http://www.vimeo.com/kzh" rel="me" />
<link href="http://www.quora.com/kaleb-hornsby" rel="me" />
<link href="http://www.myspace.com/thekaleb" rel="me" />
<link href="http://qik.com/kzh" rel="me" />
<link href="http://zoo.tl/u/kzh" rel="me" />
<link href="http://jsdo.it/kzh/" rel="me" />
<link href="http://codepad.org/users/kzh" rel="me" />
<link href="http://about.me/thekaleb" rel="me" />
-->
