<div id="container">
  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        {% include site-header.html %}
      </div>
    </div>
  </header>
  <div id="main" role="main">
  {{ content }}
  </div>

{% comment %}
<!-- Include the Google Friend Connect javascript library. -->
<script type="text/javascript" src="http://www.google.com/friendconnect/script/friendconnect.js"></script>
<!-- Define the div tag where the gadget will be inserted. -->
<div id="div-9207426019580772978"></div>
<!-- Render the gadget into a div. -->
<script type="text/javascript">
var skin = {
    BORDER_COLOR: '#663300'
  , ENDCAP_BG_COLOR: '#ff9900'
  , ENDCAP_TEXT_COLOR: '#ffffff'
  , ENDCAP_LINK_COLOR: '#ffffff'
  , ALTERNATE_BG_COLOR: '#ffffff'
  , CONTENT_BG_COLOR: '#663300'
  , CONTENT_LINK_COLOR: '#ff9900'
  , CONTENT_TEXT_COLOR: '#ffffff'
  , CONTENT_SECONDARY_LINK_COLOR: '#ffffff'
  , CONTENT_SECONDARY_TEXT_COLOR: '#ff6600'
  , CONTENT_HEADLINE_COLOR: '#ff6600'
  , POSITION: 'bottom'
  , DEFAULT_COMMENT_TEXT: '- add your comment here -'
  , HEADER_TEXT: 'Comments'
};
google.friendconnect.container.setParentUrl('/' /* location of rpc_relay.html and canvas.html */);
google.friendconnect.container.renderSocialBar({
    id: 'div-9207426019580772978'
  , site: '18032911327948177155'
  , 'view-params': { scope:"PAGE", features: "video,comment", showWall: "true"}
}, skin);
</script>
{% endcomment %}
  <footer id="site-footer" class="clearfix">{% include site-footer.html %}</footer>
</div>
