<header>
  <hgroup>
    <h1><a href="/">{{ site.title }}</a></h1>
    <h2>{{ site.description }}</h2>
  </hgroup>
  <nav>
    <ul>
      <li><a href="/comp">comp</a></li>
      <li><a href="/rec">rec</a></li>
      <li><a href="/sci">sci</a></li>
      <li><a href="/soc">soc</a></li>
      <li><a href="/talk">talk</a></li>
      <li><a rel="author" href="https://profiles.google.com/thekaleb">
  <img src="http://www.google.com/images/icons/ui/gprofile_button-16.png">
</a></li>
    </ul>
  </nav>
</header>