#site-header h1, #site-header h2 { display:inline; }
#SE-flair {
	float:left;
	margin-right:0.5em;
}
#main { padding:1em 1em 0; }
.narrow-hidden { display:inline; }
article, .article, section.category { padding:.5em 1em; }

{%comment%}--------------------------------------------------------------------
%% Cheatsheets
-----------------------------------------------------------------{%endcomment%}

dl.cheatsheet dd { display:block; }

{%comment%}--------------------------------------------------------------------
%% Images
-----------------------------------------------------------------{%endcomment%}

img { max-width:none; }