{%comment%}--------------------------------------------------------------------
%% Colors
-----------------------------------------------------------------{%endcomment%}

body { background-color:#630;color:white; }
#site-header, #site-footer { background-color:#f90; }
#site-header h1, #site-header a, #site-header h2 { color:white; }
a, a:active, a:visited { color:#f90; }
h1, h2, h3 { color:#f60; }
article, .article, section.category {
    background-color:white;
	background-color:rgba(255,255,255,.3);
	margin-bottom:1em;
	border-radius:5px;
}

{%comment%}--------------------------------------------------------------------
%% Utility Classes
-----------------------------------------------------------------{%endcomment%}

.float-right { float:right; }
.narrow-hidden { display:none; }
#div-2442441929222323512 { float:right; }

{%comment%}--------------------------------------------------------------------
%% Headers and Footers
-----------------------------------------------------------------{%endcomment%}

#site-header h1, #site-header h2 { margin:0; }
#site-header h2 { display:none;font-size:1em; }
#site-footer img { float:right; }

section.category hgroup h1, section.category hgroup h2 { display:inline; }

{%comment%}--------------------------------------------------------------------
%% Pagination
-----------------------------------------------------------------{%endcomment%}

footer.pagination { text-align:center; }
footer.pagination .previous { float:left; }
footer.pagination .next { float:right; }

{%comment%}--------------------------------------------------------------------
%% Anchors
-----------------------------------------------------------------{%endcomment%}

a { text-decoration:none; }
a:hover { text-decoration:underline; }

{%comment%}--------------------------------------------------------------------
%% Posts
-----------------------------------------------------------------{%endcomment%}

.posted {
	margin-top:-20px;
	margin-bottom:20px;
}

{%comment%}--------------------------------------------------------------------
%% Wiki
-----------------------------------------------------------------{%endcomment%}

.js #wiki-warning, .no-js #wiki-content { display:none; }

{%comment%}--------------------------------------------------------------------
%% Cheatsheets
-----------------------------------------------------------------{%endcomment%}

dl.cheatsheet dd { display:none; }
dl.cheatsheet>dt:target+dd {display:block;}
dl.cheatsheet>dt+dd { margin:0; }

{%comment%}--------------------------------------------------------------------
%% Navigation
-----------------------------------------------------------------{%endcomment%}

header ul, footer ul { padding:0; margin:0; }
header li, footer li { display:inline; }

{%comment%}--------------------------------------------------------------------
%% Images
-----------------------------------------------------------------{%endcomment%}

img { max-width: 320px; }

{%comment%}--------------------------------------------------------------------
%% kbd, etc
-----------------------------------------------------------------{%endcomment%}

kbd {
	padding: 2px 4px;
	white-space: nowrap;
	color: black;
	background: #EEE;
	border-width: 1px 3px 3px 1px;
	border-style: solid;
	border-color: #CCC #AAA #888 #BBB;
}
.kbd { white-space: nowrap; }

{%comment%}--------------------------------------------------------------------
%% Background Pattern
-----------------------------------------------------------------{%endcomment%}

.no-cssgradients body {
    background-image: url(/+/img/argyle-transparent.png);
}
.cssgradients body {
	background-image:
	  -webkit-repeating-linear-gradient(-30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	  -webkit-repeating-linear-gradient(30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	  -webkit-linear-gradient(30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
	  -webkit-linear-gradient(-30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
	background-image:
	  -moz-repeating-linear-gradient(-30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	  -moz-repeating-linear-gradient(30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	  -moz-linear-gradient(30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
	  -moz-linear-gradient(-30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
	background-image:
	  -o-repeating-linear-gradient(-30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	  -o-repeating-linear-gradient(30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	  -o-linear-gradient(30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
	  -o-linear-gradient(-30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
	background-image:
	  repeating-linear-gradient(-30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	  repeating-linear-gradient(30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	  linear-gradient(30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
	  linear-gradient(-30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
	background-size: 70px 120px;
}
