{%comment%}--------------------------------------------------------------------
%% Colors
-----------------------------------------------------------------{%endcomment%}

html { background-color:orange; }
#site-header, #site-footer { background-color:#BADA55; }
a, a:active, a:visited { color:#607890; }

{%comment%}--------------------------------------------------------------------
%% Utility Classes
-----------------------------------------------------------------{%endcomment%}

.float-right { float:right; }
.narrow-hidden { display:none; }

{%comment%}--------------------------------------------------------------------
%% Headers and Footers
-----------------------------------------------------------------{%endcomment%}

#site-header h1, #site-header h2 { margin:0; }
#site-header h2 { display:none;font-size:1em; }
#site-footer img { float:right; }

{%comment%}--------------------------------------------------------------------
%% Pagination
-----------------------------------------------------------------{%endcomment%}

footer.pagination { text-align:center; }
footer.pagination .previous { float:left; }
footer.pagination .next { float:right; }

{%comment%}--------------------------------------------------------------------
%% Anchors
-----------------------------------------------------------------{%endcomment%}

a { text-decoration:none; }
a:hover { text-decoration:underline; }

{%comment%}--------------------------------------------------------------------
%% Posts
-----------------------------------------------------------------{%endcomment%}

.posted {
	margin-top:-20px;
	margin-bottom:20px;
}

{%comment%}--------------------------------------------------------------------
%% Wiki
-----------------------------------------------------------------{%endcomment%}

.js #wiki-warning, .no-js #wiki-content { display:none; }

{%comment%}--------------------------------------------------------------------
%% Cheatsheets
-----------------------------------------------------------------{%endcomment%}

dl.cheatsheet dd { display:none; }
dl.cheatsheet>dt:target+dd {
	display:block;
	margin
}

{%comment%}--------------------------------------------------------------------
%% Navigation
-----------------------------------------------------------------{%endcomment%}

header ul, footer ul { padding:0; margin:0; }
header li, footer li { display:inline; }
