{%comment%}--------------------------------------------------------------------
%% Colors
-----------------------------------------------------------------{%endcomment%}

body { background-color:#630;color:white; }
#site-header, #site-footer { background-color:#f90; }
#site-header h1, #site-header a, #site-header h2 { color:white; }
a, a:active, a:visited { color:#f90; }
h1, h2, h3 { color:#f60; }
article, .article {
	background-color:rgba(255,255,255,.3);
	margin-bottom:1em;
	border-radius:5px;
	padding:.5em 0;
}

{%comment%}--------------------------------------------------------------------
%% Utility Classes
-----------------------------------------------------------------{%endcomment%}

.float-right { float:right; }
.narrow-hidden { display:none; }

{%comment%}--------------------------------------------------------------------
%% Headers and Footers
-----------------------------------------------------------------{%endcomment%}

#site-header h1, #site-header h2 { margin:0; }
#site-header h2 { display:none;font-size:1em; }
#site-footer img { float:right; }

{%comment%}--------------------------------------------------------------------
%% Pagination
-----------------------------------------------------------------{%endcomment%}

footer.pagination { text-align:center; }
footer.pagination .previous { float:left; }
footer.pagination .next { float:right; }

{%comment%}--------------------------------------------------------------------
%% Anchors
-----------------------------------------------------------------{%endcomment%}

a { text-decoration:none; }
a:hover { text-decoration:underline; }

{%comment%}--------------------------------------------------------------------
%% Posts
-----------------------------------------------------------------{%endcomment%}

.posted {
	margin-top:-20px;
	margin-bottom:20px;
}

{%comment%}--------------------------------------------------------------------
%% Wiki
-----------------------------------------------------------------{%endcomment%}

.js #wiki-warning, .no-js #wiki-content { display:none; }

{%comment%}--------------------------------------------------------------------
%% Cheatsheets
-----------------------------------------------------------------{%endcomment%}

dl.cheatsheet dd { display:none; }
dl.cheatsheet>dt:target+dd {
	display:block;
	margin
}

{%comment%}--------------------------------------------------------------------
%% Navigation
-----------------------------------------------------------------{%endcomment%}

header ul, footer ul { padding:0; margin:0; }
header li, footer li { display:inline; }

{%comment%}--------------------------------------------------------------------
%% Images
-----------------------------------------------------------------{%endcomment%}

img { max-width: 310px; }