---
layout: nil
---
@import url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/smoothness/jquery-ui.css);
{% comment %}
  This file can be mostly untouched. For most styles, edit `_includes/style.css`
{% endcomment %}
{%comment%}
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
{%endcomment%}


{%comment%} ===================================================================
   HTML5 element display
================================================================ {%endcomment%}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


{%comment%} ===================================================================
   Base
================================================================ {%endcomment%}

{%comment%}
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 {%endcomment%}

html { font-size: 100%; overflow-y: scroll; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

{%comment%} 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
{%endcomment%}

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


{%comment%} ===================================================================
   Links
================================================================ {%endcomment%}
{%comment%}** Overridden 
a { color: #00e; }
a:visited { color: #551a8b; }
**{%endcomment%}
a:focus { outline: thin dotted; }

{%comment%} Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test {%endcomment%}
a:hover, a:active { outline: 0; }


{%comment%} ===================================================================
   Typography
================================================================ {%endcomment%}

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

{%comment%} Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 {%endcomment%}
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

{%comment%} Improve readability of pre-formatted text in all browsers {%endcomment%}
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

{%comment%} Position subscript and superscript content without affecting line-height: gist.github.com/413930 {%endcomment%}
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


{%comment%} ===================================================================
   Lists
================================================================ {%endcomment%}

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


{%comment%} ===================================================================
   Embedded content
================================================================ {%endcomment%}

{%comment%}
 * 1. Improve image quality when scaled in IE7 http://h5bp.com/d
 * 2. Remove the gap between images and borders on image containers http://h5bp.com/e 
{%endcomment%}

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

{%comment%}
 * Correct overflow displayed oddly in IE9 
{%endcomment%}

svg:not(:root) { overflow: hidden; }


{%comment%} ===================================================================
   Figures
================================================================ {%endcomment%}

figure { margin: 0; }


{%comment%} ===================================================================
   Forms
================================================================ {%endcomment%}

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

{%comment%} 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
{%endcomment%}

legend { border: 0; *margin-left: -7px; padding: 0; }

{%comment%} Indicate that 'label' will shift focus to the associated form element {%endcomment%}
label { cursor: pointer; }

{%comment%}
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
{%endcomment%}

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

{%comment%}
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
{%endcomment%}

button, input { line-height: normal; *overflow: visible; }

{%comment%}
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
{%endcomment%}

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

{%comment%}
 * Consistent box sizing and appearance
{%endcomment%}

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

{%comment%} 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
{%endcomment%}

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

{%comment%} Remove default vertical scrollbar in IE6/7/8/9 {%endcomment%}
textarea { overflow: auto; vertical-align: top; }

{%comment%} Colors for form validity {%endcomment%}
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


{%comment%} ===================================================================
   Tables
================================================================ {%endcomment%}

table { border-collapse: collapse; border-spacing: 0; }


{%comment%} ===================================================================
   Primary styles
   Author: Kaleb Hornsby (kaleb.hornsby.ws)
================================================================ {%endcomment%}

{% include style-main.css %}
{% include style-code.css %}

{%comment%} ===================================================================
   Non-semantic helper classes
   Please define your styles before this section.
================================================================ {%endcomment%}

{%comment%} For image replacement {%endcomment%}
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

{%comment%} Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility
{%endcomment%}
.hidden { display: none; visibility: hidden; }

{%comment%}
 * Hide only visually, but have it available for screenreaders: by Jon Neal.
 * www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden
{%endcomment%}
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

{%comment%}
 * Extends the .visuallyhidden class to allow the element to be focusable when
 * navigated to via the keyboard: drupal.org/node/897638
{%endcomment%}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

{%comment%}
 * Hide visually and from screenreaders, but maintain layout {%endcomment%}
.invisible { visibility: hidden; }

{%comment%}
 * Contain floats: nicolasgallagher.com/micro-clearfix-hack/ {%endcomment%} 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



{%comment%} ===================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
================================================================ {%endcomment%}

@media only screen and (min-width: 480px) {
{%comment%}
 * Style adjustments for viewports 480px and over go here
{%endcomment%}
{% include style-medium.css %}
}

@media only screen and (min-width: 768px) {
{%comment%}
 * Style adjustments for viewports 768px and over go here
{%endcomment%}
{% include style-wide.css %}
}



{%comment%} ===================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
================================================================ {%endcomment%}
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  {%comment%} Black prints faster: sanbeiji.com/archives/953 {%endcomment%}
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  {%comment%} Don't show links for images, or javascript/internal links
  {%endcomment%}
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  {%comment%} css-discuss.incutio.com/wiki/Printing_Tables {%endcomment%}
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
  {% include style-print.css %}
}
