---
layout: nil
---
{%comment%} ===================================================================
   Primary styles
   Author: Kaleb Hornsby (kaleb.horns.by)
================================================================ {%endcomment%}
@import url("//netdna.bootstrapcdn.com/bootswatch/2.3.0/united/bootstrap.min.css");
@import url("//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css");
@import url("//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css");

{% include style-main.css %}
{% include style-code.css %}

{%comment%} ===================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
================================================================ {%endcomment%}

@media only screen and (min-width: 480px) {
{%comment%}
 * Style adjustments for viewports 480px and over go here
{%endcomment%}
{% include style-medium.css %}
}

@media only screen and (min-width: 768px) {
{%comment%}
 * Style adjustments for viewports 768px and over go here
{%endcomment%}
{% include style-wide.css %}
}
