---
layout: body
---
<section class="category">
<hgroup>
<h1>{% if page.h1 %}{{ page.h1 }}{% else %}{{ page.title }}{% endif %}</h1>{% if page.subtitle %}
<h2>: {{ page.subtitle }}</h2>{% endif %}
</hgroup>
{{ page.bc }}
{% for i in page.bc reversed %}
  {% unless forloop.first %}
    {% capture href %}{{ href }}../{% endcapture %}
  {% endunless %}
  {{ i }}: {{ href }}; 
{% endfor %}
<p>{{site.time}}</p>
{{ content }}
{% if page.subpages %}
<h2>Subpages</h2>
<ul class="subpages">
{% for subpage in page.subpages %}
  <li><a href="{{subpage}}">{{subpage}}</a></li>
{% endfor %}
</ul>
{% endif %}
</section>
