---
layout: master
---
<section class="category">
<hgroup>
{% for i in hierarchy reversed %}
  {% unless forloop.first %}
    {% capture href %}{{ href }}../{% endcapture %}
    {% capture h1 %}<a href="{{ href }}">{{ i }}</a>.{{ h1 }}{% endcapture %}
  {% else %}
    {% capture h1 %}{{ i }}{% endcapture %}
  {% endunless %}
{% endfor %}
<h1>{% if h1 %}{{ h1 }}{% else %}{{ page.h1 }}{% endif %}:</h1>
{% if subtitle %}<h2>{{ subtitle }}</h2>{% endif %}
</hgroup>
<div>
<p itemprop="description">
  {{ description }}
</p>
{{ content }}
{% if subpages %}
<h2>Subpages</h2>
<ul class="subpages">
{% for subpage in subpages %}
  <li><a href="{{subpage}}">{{subpage}}</a></li>
{% endfor %}
</ul>
{% endif %}
</div>
</section>
